In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("..\\data\\processed\\train_data.csv")

In [3]:
train['fraud'].value_counts()

0.0    638818
1.0     61182
Name: fraud, dtype: int64

In [4]:
test = pd.read_csv("..\\data\\processed\\test_data.csv")

In [5]:
train.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,6.976102,0.803898,0.661067,1.0,0.0,0.0,1.0,0.0
1,0.339813,0.109728,1.825688,0.0,1.0,0.0,0.0,0.0
2,1.544316,0.125731,0.142268,0.0,0.0,0.0,1.0,0.0
3,39.240251,0.178486,0.470407,1.0,1.0,0.0,1.0,0.0
4,3.391102,0.371946,1.065080,1.0,1.0,0.0,1.0,0.0

In [6]:
test.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,32.706188,1.170484,1.609220,1.0,0.0,0.0,1.0,0.0
1,13.015352,0.186763,0.935785,1.0,0.0,0.0,1.0,0.0
2,51.012872,0.701656,4.269268,1.0,0.0,0.0,1.0,1.0
3,10.958860,2.320207,1.640659,1.0,1.0,0.0,1.0,0.0
4,36.802580,0.974097,20.250652,1.0,1.0,0.0,0.0,0.0

In [7]:
## splitting independent and dependent features of train and test data
train_y = train["fraud"]
test_y = test["fraud"]

In [8]:
train_y

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
699995    0.0
699996    0.0
699997    0.0
699998    0.0
699999    0.0
Name: fraud, Length: 700000, dtype: float64

In [9]:
test_y

0         0.0
1         0.0
2         1.0
3         0.0
4         0.0
         ...
299995    0.0
299996    0.0
299997    0.0
299998    1.0
299999    0.0
Name: fraud, Length: 300000, dtype: float64

In [10]:
train_X = train.drop(columns="fraud", axis=1)
test_X = test.drop(columns="fraud",axis=1)

In [11]:
train_X.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order
0,6.976102,0.803898,0.661067,1.0,0.0,0.0,1.0
1,0.339813,0.109728,1.825688,0.0,1.0,0.0,0.0
2,1.544316,0.125731,0.142268,0.0,0.0,0.0,1.0
3,39.240251,0.178486,0.470407,1.0,1.0,0.0,1.0
4,3.391102,0.371946,1.065080,1.0,1.0,0.0,1.0

In [12]:
test_X.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order
0,32.706188,1.170484,1.609220,1.0,0.0,0.0,1.0
1,13.015352,0.186763,0.935785,1.0,0.0,0.0,1.0
2,51.012872,0.701656,4.269268,1.0,0.0,0.0,1.0
3,10.958860,2.320207,1.640659,1.0,1.0,0.0,1.0
4,36.802580,0.974097,20.250652,1.0,1.0,0.0,0.0

##### We need a model which will satisfy following conditions:
1. The cases where fraud transactions are predicted as not fraud should be as minimum as possible => This implies that the value of false 
negative should be as low as possible i.e., high recall value
2. It is okay if some of the non-fraud transactions are predicted as fraud transactions => This implies that  it is okay even if the value
if false positive is somewhat high (but not too high) i.e., it is okay if we get average precision value

#### Nearest neighbors classifier

In [13]:
## creating logistic model
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier()
knc.fit(train_X, train_y)

KNeighborsClassifier()

In [14]:
y_pred = knc.predict(test_X)

In [15]:
from sklearn.metrics import precision_score, recall_score, f1_score

print(f"The precision score for the trained KNeighbors classifer model is {precision_score(test_y,y_pred)}")
print(f"The recall score for the trained KNeighbors classifer model is {recall_score(test_y,y_pred)}")
print(f"The f1 score for the trained KNeighbors classifer model is {f1_score(test_y,y_pred)}")

The precision score for the trained KNeighbors classifer model is 0.8920860658757644
The recall score for the trained KNeighbors classifer model is 0.92342015941421
The f1 score for the trained KNeighbors classifer model is 0.9074827127410378

##### We are getting a model with satisfying results so we won't look for another model